#
# Goodix touchscreen driver configuration
#
menuconfig TOUCHSCREEN_GOODIX_BRL_9916
	tristate "Goodix berlin touchscreen"
	default n
	help
	  Say Y here if you have a Goodix berlin series touch controller
	  to your system.
	  If build module, say M.
	  If unsure, say N.

if TOUCHSCREEN_GOODIX_BRL_9916

config TOUCHSCREEN_GOODIX_BRL_9916_SPI
	bool "support SPI bus connection"
	default y
	help
		Say Y here if the touchscreen is connected via SPI bus.

config TOUCHSCREEN_GOODIX_BRL_9916_DEBUG
	bool "Debug"

endif
