EXTRA_CFLAGS += -DMAX_SCAN_CACHE_SIZE=1024
EXTRA_CFLAGS += -DSCAN_MAX_REST_TIME=0
EXTRA_CFLAGS += -DSCAN_MIN_REST_TIME=50
EXTRA_CFLAGS += -DSCAN_BURST_DURATION=0
EXTRA_CFLAGS += -DSCAN_PROBE_SPACING_TIME=0
EXTRA_CFLAGS += -DSCAN_PROBE_DELAY=0
EXTRA_CFLAGS += -DSCAN_MAX_SCAN_TIME=50000
EXTRA_CFLAGS += -DSCAN_NETWORK_IDLE_TIMEOUT=200
EXTRA_CFLAGS += -DHIDDEN_SSID_TIME=0xFFFFFFFF
EXTRA_CFLAGS += -DSCAN_CHAN_STATS_EVENT_ENAB=1
EXTRA_CFLAGS += -DMAX_BCN_PROBE_IN_SCAN_QUEUE=2000
