comment "Qualcomm Atheros CLD WLAN module"

config QCA_CLD_WLAN

	tristate "Qualcomm Atheros CLD WLAN module"
	default n
	help
	Add support for the Qualcomm Atheros CLD WLAN module

if QCA_CLD_WLAN != n

config QCA_CLD_WLAN_PROFILE
	string "Configuration profile for Qualcomm Atheros CLD WLAN module"
	default "default"
	help
	  Specify which configuration profile to be used for building
	  this module.
	  Profiles are located at drivers/staging/qcacld-3.0/configs.

config WLAN_FEATURE_SAP_ACS_OPTIMIZE
	bool "Enable WLAN_FEATURE_SAP_ACS_OPTIMIZE"
	default n

config AGEIE_ON_SCAN_RESULTS
	bool "Enable AGEIE_ON_SCAN_RESULTS"
	default n

config INTERFACE_MGR
	bool "Enable INTERFACE_MGR"
	default n

config ENABLE_LOW_POWER_MODE
	bool "Enable ENABLE_LOW_POWER_MODE"
	default n
endif # QCA_CLD_WLAN
