CONFIG_DESC_TIMESTAMP_DEBUG_INFO=y
CONFIG_DSC_DEBUG=y
CONFIG_UNIT_TEST=y
CONFIG_DSC_TEST=y
CONFIG_ENABLE_QDF_PTR_HASH_DEBUG=y
CONFIG_FEATURE_UNIT_TEST_SUSPEND=y
CONFIG_LEAK_DETECTION=y
CONFIG_MAX_LOGS_PER_SEC=500
CONFIG_ENABLE_MAX_LOGS_PER_SEC=y
CONFIG_REGISTER_OP_DEBUG=y
CONFIG_SCHED_HISTORY_SIZE=256
CONFIG_ENABLE_SCHED_HISTORY_SIZE=y
CONFIG_TALLOC_DEBUG=y
CONFIG_QDF_TEST=y
CONFIG_FEATURE_WLM_STATS=y
CONFIG_WLAN_FEATURE_GET_USABLE_CHAN_LIST=y
